1. Start with original dataset
2. Keep only data points where author date of birth is known
3. For each quote, compute author age at this time (quote date - author date of birth)
4. Compute means per decade (of age)
5. Regress opinion score on binary decade indicator variable
NB : we can repeat the process for age ranges of length 5 / 20 / 40… years
6. Test for coefficients and compare the coefficients’ signs
Conclude

In [49]:
import pandas as pd

In [53]:
data = pd.read_pickle("./added_sentiment.pkl")
data.drop(data[data.date_of_birth == ''].index, inplace=True)  # filter damaged data (1 raw)
data["age"] = data.quote_year.astype(int) - data.date_of_birth.astype(int)  # get age
data.head()

,date_of_birth,nationality,gender,occupation,Speaker,Quote,numOccurrences,quote_year,quote_month,Sentiment,age
0,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,This loss is a wake-up call that despite remar...,2,2015,11,-0.8760,44
1,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,"She didn't see it, she hadn't heard of it, she...",1,2015,6,0.0387,44
2,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,As a journalist and anchor who reaches million...,1,2015,4,0.4939,44
3,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,By empowering people to talk about their gende...,6,2015,2,0.7003,44
4,1971,[United States of America],[female],[LGBTIQ+ rights activist],sarah kate ellis,"By investing in this dangerous programming, TL...",133,2015,1,-0.5610,44

In [54]:
for col in ["nationality", "gender", "occupation"]:
    first = pd.Series([elem[0] if elem[0] is not None else "F" for elem in data[col]])  # keep 1st element
    data[col] = first.values
    data = data[data[col] != "F"]  # filter NaN (~10 raws)
data.head()

,date_of_birth,nationality,gender,occupation,Speaker,Quote,numOccurrences,quote_year,quote_month,Sentiment,age
0,1971,United States of America,female,LGBTIQ+ rights activist,sarah kate ellis,This loss is a wake-up call that despite remar...,2,2015,11,-0.8760,44
1,1971,United States of America,female,LGBTIQ+ rights activist,sarah kate ellis,"She didn't see it, she hadn't heard of it, she...",1,2015,6,0.0387,44
2,1971,United States of America,female,LGBTIQ+ rights activist,sarah kate ellis,As a journalist and anchor who reaches million...,1,2015,4,0.4939,44
3,1971,United States of America,female,LGBTIQ+ rights activist,sarah kate ellis,By empowering people to talk about their gende...,6,2015,2,0.7003,44
4,1971,United States of America,female,LGBTIQ+ rights activist,sarah kate ellis,"By investing in this dangerous programming, TL...",133,2015,1,-0.5610,44

In [55]:
# encode category data by indexes
nationality_dict = {elem: idx for idx, elem in enumerate(data.nationality.value_counts().index)}
gender_dict = {elem: idx for idx, elem in enumerate(data.gender.value_counts().index)}
occupation_dict = {elem: idx for idx, elem in enumerate(data.occupation.value_counts().index)}
data.replace({"nationality": nationality_dict, "gender": gender_dict, "occupation": occupation_dict}, inplace=True)
data.head()

{'United States of America': 0,
 'United Kingdom': 1,
 'Australia': 2,
 'Canada': 3,
 'India': 4,
 'Philippines': 5,
 'Ireland': 6,
 'New Zealand': 7,
 'Germany': 8,
 'South Africa': 9,
 'Israel': 10,
 'France': 11,
 'Italy': 12,
 'Brazil': 13,
 'United Kingdom of Great Britain and Ireland': 14,
 'Soviet Union': 15,
 'Pakistan': 16,
 'Nigeria': 17,
 'Sweden': 18,
 'England': 19,
 'Kingdom of the Netherlands': 20,
 'Mexico': 21,
 'Malaysia': 22,
 'Uganda': 23,
 'Poland': 24,
 "People's Republic of China": 25,
 'Japan': 26,
 'Scotland': 27,
 'Iran': 28,
 'Puerto Rico': 29,
 'Switzerland': 30,
 'Indonesia': 31,
 'Argentina': 32,
 'Russia': 33,
 'Jamaica': 34,
 'Belgium': 35,
 'Kenya': 36,
 'Chile': 37,
 'Denmark': 38,
 'Spain': 39,
 'Singapore': 40,
 'Great Britain': 41,
 'Taiwan': 42,
 'Austria': 43,
 'Ukraine': 44,
 'The Bahamas': 45,
 'South Korea': 46,
 'Lebanon': 47,
 'Canadians': 48,
 'Trinidad and Tobago': 49,
 'Kingdom of England': 50,
 'Norway': 51,
 'Egypt': 52,
 'Wales': 53,
 'Zimbabwe': 54,
 'Hong Kong': 55,
 'Venezuela': 56,
 'Cuba': 57,
 'East Germany': 58,
 'Ghana': 59,
 'Australians': 60,
 'Russian Empire': 61,
 'Costa Rica': 62,
 'Colombia': 63,
 'Luxembourg': 64,
 'Belize': 65,
 'Finland': 66,
 'British India': 67,
 'Sri Lanka': 68,
 'Nepal': 69,
 'Guinea': 70,
 'Malta': 71,
 'Slovenia': 72,
 'Dominican Republic': 73,
 'Bangladesh': 74,
 'Northern Ireland': 75,
 'Lithuania': 76,
 'Hungary': 77,
 'Kazakhstan': 78,
 'Saudi Arabia': 79,
 'Federated States of Micronesia': 80,
 'Saint Vincent and the Grenadines': 81,
 'Tanzania': 82,
 'El Salvador': 83,
 'English people': 84,
 'The Gambia': 85,
 'British Hong Kong': 86,
 'Thailand': 87,
 'Iraq': 88,
 'Armenia': 89,
 'Turkey': 90,
 'Cambodia': 91,
 'Portugal': 92,
 'Czechoslovakia': 93,
 'Iceland': 94,
 'Greece': 95,
 'Morocco': 96,
 'Kingdom of Ireland': 97,
 'Barbados': 98,
 'Afghanistan': 99,
 'State of Palestine': 100,
 'Antigua and Barbuda': 101,
 'Tonga': 102,
 'Tunisia': 103,
 'Irish Free State': 104,
 'Zambia': 105,
 'Cameroon': 106,
 'Romania': 107,
 'Mali': 108,
 'Myanmar': 109,
 'Peru': 110,
 'Haiti': 111,
 'Bolivia': 112,
 'Jordan': 113,
 'Czech Republic': 114,
 'Fiji': 115,
 'Serbia': 116,
 'Saint Lucia': 117,
 'Bulgaria': 118,
 'Honduras': 119,
 'Democratic Republic of the Congo': 120,
 'Kingdom of Sardinia': 121,
 'Panama': 122,
 'Rwanda': 123,
 'Kyrgyzstan': 124,
 'Imperial State of Iran': 125,
 'Uruguay': 126,
 'Ethiopia': 127,
 'Croatia': 128,
 'Guyana': 129,
 'Guatemala': 130,
 'Somalia': 131,
 'Latvia': 132,
 'Syria': 133,
 'Kingdom of Egypt': 134,
 'China': 135,
 'Socialist Federal Republic of Yugoslavia': 136,
 'Paraguay': 137,
 'Algeria': 138,
 'Eswatini': 139,
 'Solomon Islands': 140,
 'Czechoslovak Republic': 141,
 'Nicaragua': 142,
 'Bermuda': 143,
 'Cayman Islands': 144,
 'Korea': 145,
 'Maldives': 146,
 'Dominica': 147,
 'Senegal': 148,
 'Qatar': 149,
 'Botswana': 150,
 'Union of South Africa': 151,
 'Indians': 152,
 'United Arab Emirates': 153,
 'Grenada': 154,
 'Bhutan': 155,
 'Aruba': 156,
 'British America': 157,
 'Kingdom of Afghanistan': 158,
 'Vietnam': 159,
 'Joseon': 160,
 'Republic of China (1912–1949)': 161,
 'Colony of New Zealand': 162,
 'Federation of Rhodesia and Nyasaland': 163,
 'Ecuador': 164,
 "People's Republic of Bulgaria": 165,
 'Cook Islands Maori people': 166,
 'Brunei': 167,
 'Bosnia and Herzegovina': 168,
 'Liang dynasty': 169,
 'Irish Republic': 170,
 'Kosovo': 171,
 'Ming dynasty': 172,
 'Kingdom of France': 173,
 'Kingdom of Italy': 174,
 'Guam': 175,
 'Ukrainian Soviet Socialist Republic': 176,
 'Flor': 177,
 'Belarus': 178}

In [ ]:
# try sklearn ridge regression
y = data.Sentiment.to_numpy()
x = data.drop(["Sentiment", "Quote", "Speaker"], axis=1).to_numpy()
x[:, 0] = list(map(int, x[:, 0]))
# x = x[:, [0, -1]]  # take specific features
print(x.shape)

In [ ]:
from sklearn.linear_model import Ridge
reg = Ridge(8).fit(x, y)
print("Score:", reg.score(x, y))
print("Coefficients:", reg.coef_)
print("Intercept:", reg.intercept_)

In [57]:
# try statsmodels 
import statsmodels.formula.api as smf
data.date_of_birth = data.date_of_birth.apply(lambda k: int(k))
mod = smf.ols(formula='Sentiment ~ date_of_birth + nationality + gender + occupation + numOccurrences + quote_year + quote_month	+ age',
              data = data)

res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Sentiment   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     13.38
Date:                Thu, 16 Dec 2021   Prob (F-statistic):           2.25e-17
Time:                        09:57:42   Log-Likelihood:                -90768.
No. Observations:              114684   AIC:                         1.816e+05
Df Residuals:                  114676   BIC:                         1.816e+05
Df Model:                           7
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          5.0719      2.179      2.328      0.020       0.801       9.343
date_of_birth     -0.0007      0.000     -2.009      0.044      -0.001   -1.78e-05
nationality       -0.0002      0.000     -1.903      0.057      -0.000    7.21e-06
gender             0.0073      0.002      3.789      0.000       0.004       0.011
occupation     -2.335e-05   2.35e-05     -0.992      0.321   -6.95e-05    2.28e-05
numOccurrences    -0.0006      0.000     -4.892      0.000      -0.001      -0.000
quote_year        -0.0017      0.001     -2.383      0.017      -0.003      -0.000
quote_month       -0.0013      0.000     -2.751      0.006      -0.002      -0.000
age               -0.0010      0.000     -2.743      0.006      -0.002      -0.000
==============================================================================
Omnibus:                    21204.232   Durbin-Watson:                   1.781
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5310.235
Skew:                          -0.229   Prob(JB):                         0.00
Kurtosis:                       2.050   Cond. No.                     7.72e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.53e-20. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.