In [1]:
import pandas as pd
import numpy as np

In [2]:
df_filtered = pd.read_pickle('CleanDF.pkl')
df_feminism = pd.read_json('feminism_part.json')
df_feminism.nationality = [elem[0] for elem in df_feminism.nationality]
df_feminism.gender = [elem[0] for elem in df_feminism.gender]

In [3]:
df_filtered.head(5)

,date_of_birth,nationality,gender,occupation,Speaker,Quote,numOccurrences,quote_year,quote_month,Sentiment,Sentiment Label
Date,,,,,,,,,,,
2015-11-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,This loss is a wake-up call that despite remar...,2,2015,11,-0.8760,Negative
2015-06-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"She didn't see it, she hadn't heard of it, she...",1,2015,6,0.0387,Positive
2015-04-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,As a journalist and anchor who reaches million...,1,2015,4,0.4939,Positive
2015-02-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,By empowering people to talk about their gende...,6,2015,2,0.7003,Positive
2015-01-01,1971,United States of America,female,[LGBTIQ+ rights activist],sarah kate ellis,"By investing in this dangerous programming, TL...",133,2015,1,-0.5610,Negative

In [4]:
df_filtered.shape

(114746, 11)

In [5]:
df_feminism.head(5)

,index,date_of_birth,nationality,gender,occupation,Speaker,Quote,numOccurrences,quote_year,quote_month
0,1137,1973,United States of America,male,[film producer],chad griffin,This kind of violence is often motivated by an...,3,2015,11
1,1233,1973,United States of America,male,[film producer],chad griffin,Transgender women of color are facing an epide...,2,2015,11
2,1264,1973,United States of America,male,[film producer],chad griffin,At a time when transgender people are finally ...,1,2015,11
3,1363,1973,United States of America,male,[film producer],chad griffin,Each of these women died simply for being them...,2,2016,2
4,1566,1973,United States of America,male,[film producer],chad griffin,It is crucial that we know these stories in or...,2,2017,11

In [6]:
df_feminism.shape

(13556, 10)

In [7]:
df_feminism = df_feminism.drop(['index', 'date_of_birth', 'gender', 'occupation', 'numOccurrences', 'quote_year', 'quote_month'], axis=1)
df_feminism

,nationality,Speaker,Quote
0,United States of America,chad griffin,This kind of violence is often motivated by an...
1,United States of America,chad griffin,Transgender women of color are facing an epide...
2,United States of America,chad griffin,At a time when transgender people are finally ...
3,United States of America,chad griffin,Each of these women died simply for being them...
4,United States of America,chad griffin,It is crucial that we know these stories in or...
...,...,...,...
13551,United States of America,howard zinn,"racism, oppression, sexism, income inequality,..."
13552,United States of America,diane guerrero,The show itself has only enhanced my personal ...
13553,United States of America,deborah ann woll,Here's the thing: I think sometimes when we ha...
13554,United States of America,callie khouri,"As a female moviegoer, I just got fed up with ..."
13555,United States of America,callie khouri,"To me, feminism is such a simple description: ..."

In [8]:
df_filtered = df_filtered.drop(['date_of_birth', 'gender', 'occupation', 'numOccurrences', 'quote_year', 'quote_month'], axis=1)

In [9]:
df_filtered.reset_index()

,Date,nationality,Speaker,Quote,Sentiment,Sentiment Label
0,2015-11-01,United States of America,sarah kate ellis,This loss is a wake-up call that despite remar...,-0.8760,Negative
1,2015-06-01,United States of America,sarah kate ellis,"She didn't see it, she hadn't heard of it, she...",0.0387,Positive
2,2015-04-01,United States of America,sarah kate ellis,As a journalist and anchor who reaches million...,0.4939,Positive
3,2015-02-01,United States of America,sarah kate ellis,By empowering people to talk about their gende...,0.7003,Positive
4,2015-01-01,United States of America,sarah kate ellis,"By investing in this dangerous programming, TL...",-0.5610,Negative
...,...,...,...,...,...,...
114741,2017-05-01,Canada,david secter,"Although I am not much of a jock, I consider t...",0.3818,Positive
114742,2019-08-01,United States of America,tom mcclintock,the medical dangers of this obsession with new...,-0.6808,Negative
114743,2019-05-01,United States of America,tom mcclintock,Equality Act to Ban Anti-LGBT Discrimination,-0.5574,Negative
114744,2015-07-01,United States of America,stephen trask,The whole point of many of the songs and much ...,0.5423,Positive
114745,2020-04-01,United States of America,stephen trask,The episode is about teenagers breaking away. ...,0.2263,Positive

In [10]:
df_filtered = df_filtered.drop(['Sentiment Label'], axis=1)

In [18]:
new_df = df_filtered.merge(df_feminism, on=["Quote"], how="right")

In [19]:
new_df.shape

(13556, 6)

In [21]:
new_df.tail()

,nationality_x,Speaker_x,Quote,Sentiment,nationality_y,Speaker_y
13551,United States of America,howard zinn,"racism, oppression, sexism, income inequality,...",-0.9136,United States of America,howard zinn
13552,United States of America,diane guerrero,The show itself has only enhanced my personal ...,0.6369,United States of America,diane guerrero
13553,United States of America,deborah ann woll,Here's the thing: I think sometimes when we ha...,0.9519,United States of America,deborah ann woll
13554,United States of America,callie khouri,"As a female moviegoer, I just got fed up with ...",0.2023,United States of America,callie khouri
13555,United States of America,callie khouri,"To me, feminism is such a simple description: ...",0.0000,United States of America,callie khouri